
input.centerText{
    text-align: center;
}

.imagen{
	width: 150px;
	height: 150px;
	
}

.imagen2{
	width: 80px;
	height: 80px;
	text-align: left;
	
}

.centerImg{
	display:block;
	text-align: center;

}

.label{
	text-align: center;
}

.centerText{
	text-align: center;
}

